<h2>会員情報編集</h2>

<%= form_with model: @customer, url: customer_path(@customer), local:true do |f| %>

<div class="form-group">
  <label for="customer-name">氏名</label>
     <%= f.text_area :last_name %> <%= f.text_area :first_name %>
    </div>
    <div class="form-group">
    <label for="customer-name-kana">フリガナ</label>
      <%= f.text_area :last_name_kana %> <%= f.text_area :first_name_kana %>
    </div>

    <div class="form-group">
    <label for="customer-postal_code">郵便番号</label>
      <%= f.text_area :postal_code %>
    </div>

    <div class="form-group">
      <label for="customer-address">住所</label>
      <%= f.text_area :address %>
    </div>

    <div class="form-group">
    <label for="customer-telephone_number">電話番号</label>
      <%= f.text_area :telephone_number %>
    </div>

     <div class="form-group">
    <label for="customer-email">メールアドレス</label>
      <%= f.text_area :email %>
    </div>

    <div class="form-group">
    <input type="submit" name="commit" value="編集内容を保存" class="btn btn-success" data-disable-with="Edit Customer">
  </div>
    <%  end %>

    <td><%= link_to '退会する', customers_check_path, class:"btn btn-sm btn-success" %></td>